.game-header {
    width:80%;
    margin:0 auto 10px auto; padding:10px;
    font-family:'Permanent Marker', cursive;
    font-size: x-large;
    color:#c7b5a7;
    text-align: center;
    background-color: rgb(129, 104, 14);
}
.matching-memory-Game {
    width:80%;
    margin:0 auto; padding:10px;
    font-family:'Permanent Marker', cursive;
    background-color: rgb(231, 229, 222);
}
.game-container {
    width:fit-content; height:fit-content;
    background-color: rgb(221, 210, 197);
    padding:0.5rem;
    border-radius: 5px;
}
#demo {
    text-align: center;
}
#stop-watch {
    font-size: 40px;
}
#update-grid {
    text-align: right;
}
#update-grid .UpdateGrid {
    padding:15px; margin:5px;
    font-size: x-large;
    background-color: rgb(196, 173, 144);
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 9px 0 #8a7849;
}
.card {
    background-color: rgb(236, 233, 229);
    margin:15px;
    border-radius:5px;
    box-shadow: 3px 3px 7px 1px rgb(184, 183, 180);
    cursor: pointer;
}
.card:hover {
    background-color: rgb(221, 210, 197);
    box-shadow: 1px 1px 9px 0 rgb(236, 233, 229);
}
.card-clicked {
    background-color: rgb(221, 210, 197);
    margin:15px;
    border-radius:5px;
    box-shadow: 0px 0px 9px 0 rgb(184, 183, 180);
    /* cursor: pointer; */
}
.disable-clicks {
    pointer-events: none;/** Disables Clicking*/
    cursor:default;
}
.enable-clicks {
    cursor: pointer;
    pointer-events: all; /** enables Clicking */ 
}
.toggle-image {
    width:70px; height:70px;  
    margin:10px;
    border-radius:5px;  
    visibility: hidden;
}
.show-image {
    visibility:visible;
}
.hide-image {
    visibility:hidden;
}
/* Start Button */
.start-btn {
    padding:15px;
    font-size: large;
    background-color: rgb(93, 162, 219);
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 9px 0 #b9c875;
}
.start-btn:hover {
    background-color: rgb(121, 190, 74);
    box-shadow: 0 0 9px 0 #96b1e4;
}
.started-indicate {
    background-color: rgb(169, 228, 169);
    width:650px; height:60px;
    border-radius: 6px;
    padding:10px 0 0 15px;
}
/* Stop Button */
.stop-btn {
    padding:15px;
    font-size: large;
    background-color: rgb(117, 87, 59);
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 9px 0 #a7735c;
}
.stop-btn:hover {
    background-color: rgb(185, 36, 17);
    box-shadow: 0 0 9px 0 #e97b68;
}
.stopped-indicate {
    background-color: rgb(223, 172, 149);
    width:650px; height:60px;
    border-radius: 6px;
    padding:10px 0 0 15px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
/* Reset Button */
.reset-btn {
    padding:15px;
    font-size: large;
    background-color: rgb(65, 37, 12);
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 9px 0 #6b6664;   
}
.reset-btn:hover {
    background-color: rgb(165, 161, 161);
    box-shadow: 0 0 9px 0 #eebc94;
    color:rgb(231, 225, 225);
}